.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  background-color: #F9F9F7;
  border-bottom: 1px solid #e1dfdf;
  height: 35px; /* use variable if needed */
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
}

.dashboard-header-left {
  display: flex;
  align-items: center;
  gap: 50px; /* ლოგოსა და მთავარს შორის დაშორება */
}

/* Brand logo image */
.header-logo {
  height: 30px; /* fits header height */
  width: 100px;
  object-fit: contain;
}

/* Base link style */
.navLink {
  position: relative;
  text-decoration: none;
  color: #707070; /* Always black */
  padding: 10px 0 5px 0; /* remove horizontal padding for accurate underline */
  margin: 0 1px;
  font-weight: 600;
  display: inline-block;
  font-size: 0.8rem;
}

/* Hover effect */
.navLink:hover {
  font-weight: bold;
  color: #4c4c4c;
}

/* Active link underline */
.navLink.active::after {
  content: "";
  position: absolute;
  left: 0;   /* start exactly at left */
  bottom: 1px;
  width: 100%;  /* default underline size */
  height: 3px;
  background-color: #3dd799;
}

.user-email-btn {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 12px;
  font-size: 14px;
  color:#707070
}

.profile-dropdown {
  position: fixed;       /* take it out of header flow */
  right: 10px;           /* stick to the right side */
  top: 37px;             /* below the header bar */
  background: #F9F9F7;
  border: 1px solid #f5f5f5;
  border-radius: 1px;
  min-width: 250px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 0px;
  overflow: hidden;
  padding: 0px 0;
  z-index: 2000;         /* make sure it’s above all content */
}

.profile-dropdown button {
  display: flex;
  align-items: center;  /* vertically center icon & text */
  gap: 10px;             /* space between icon and text */
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 15px;
  color: #4f4f4f;
  font-weight: 550;
  margin: 0;
  line-height: 1; 
}

/* space between items */
.profile-dropdown button + button {
  margin-top: 2px;          /* tiny space between buttons */
}

.profile-dropdown button:hover {
  background: #f0f0f0;
}

.dropdown-icon {
  width: 18px;   /* adjust size as needed */
  height: 18px;
}

.profile-dropdown button:last-child {
  border-top: 1px solid #ddd;  /* thin line above Logout */
  margin-top: 0px;             /* small spacing */
  padding-top: 18px;            /* extra padding above text */
  padding-bottom: 18px;         /* extra padding below text */
}

/* First two buttons inside dropdown */
.profile-dropdown button:nth-child(1),
.profile-dropdown button:nth-child(2) {
  padding-top: 15px;    /* adjust as needed */
  padding-bottom: 15px; /* adjust as needed */
}