.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  background-color: #F9F9F7;
  border-bottom: 1px solid #e1dfdf;
  height: 35px; /* use variable if needed */
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
}

.dashboard-header-left {
  display: flex;
  align-items: center;
  gap: 50px; /* ლოგოსა და მთავარს შორის დაშორება */
}

/* Brand logo image */
.header-logo {
  height: 30px; /* fits header height */
  width: 100px;
  object-fit: contain;
}

/* Base link style */
.navLink {
  position: relative;
  text-decoration: none;
  color: #707070; /* Always black */
  padding: 10px 0 5px 0; /* remove horizontal padding for accurate underline */
  margin: 0 1px;
  font-weight: 600;
  display: inline-block;
  font-size: 0.8rem;
}

/* Hover effect */
.navLink:hover {
  font-weight: bold;
  color: #4c4c4c;
}

/* Active link underline */
.navLink.active::after {
  content: "";
  position: absolute;
  left: 0;   /* start exactly at left */
  bottom: 1px;
  width: 100%;  /* default underline size */
  height: 3px;
  background-color: #3dd799;
}

.profile {
  display: flex;
  align-items: center; /* vertically center all items */
  gap: 4px; /* distance between username, settings, logout */
}

/* Email style */
.user-email {
  font-size: 12px;     /* smaller font */
  color: #707070;      /* light gray */
  margin-right: 13px;  /* spacing before logout button */
  font-weight: 600;    /* normal weight */
  font-size: 0.8rem;
  margin-right: 4px;
}

.logout-btn {
  background: none;
  border: none;
  color: #707070;       /* same as email color */
  font-size: 13px;
  font-weight: 600; 
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  transition: color 0.2s ease;
}

.logout-btn:hover {
  color: #4c4c4c;       /* light blue on hover */
}

.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.settings-icon {
  width: 20px;
  height: 20px;
  fill: #4b3f40; /* default color */
  transition: fill 0.2s ease;
}

.settings-btn:hover .settings-icon {
  fill: #2b996d; /* color on hover */
}